<ion-header>
    <ion-navbar class="borde" hideBackButton>
        <ion-row>
            <ion-col>
                <button ion-button menuToggle class="botonMod">
                    <!-- <ion-icon item-start name="menu" class="colorIcon3" style="zoom:1.5;"></ion-icon> -->
                    <img src="./assets/imgs/Group4.png" alt="" class="imgMenu">
                </button>
            </ion-col>
            <ion-col align="center">
                <img src="./assets/imgs/Logoblanco.png" style="width: 60%;" alt="">
            </ion-col>
            <ion-col>
                <!-- <div align='end'>
                    <div *ngIf="miUser.provider == 'facebook'">
                        <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                            style="width:40%;border-radius:50%;">
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                            style="width:85%;border-radius:50%;">
                    </div>
                </div> -->
                <div align='end'>
                    <div *ngIf="miUser.provider == 'facebook'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}" style="width:40%;border-radius:50%;">
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius:50%;">
                        </div>
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}?type=large&width=720&height=720" style="width:85%;border-radius:50%;">
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius: 50%;">
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="fon bar bar-subheader bar-energized">
        <!-- <ion-card class="sin">
            <img class="sin" *ngIf="sucursal.tipo == 'bar'" src="../assets/imgs/bar.png" />
            <img class="sin" *ngIf="sucursal.tipo == 'antro'" src="../assets/imgs/antro.png" />
            <ion-col class="card-title" col-4>
                <img class="imgSucursal" [src]="sucursal.photoURL" />
            </ion-col>
            <ion-col class="card-subtitle">
                <p class="blanco_2">{{sucursal.displayName}}</p>
                <p class="blanco_2">{{sucursal.direccion}}</p>
                <div class="card_subtitle">
                    <div *ngIf="sucursal.tipo == 'antro'"> <img *ngIf="sucursal.tipo == 'antro' " class="icon"
                            src="../assets/imgs/icons/antro.png" item-start> Antro</div>
                    <div *ngIf="sucursal.tipo == 'bar'"><img *ngIf="sucursal.tipo == 'bar' " class="icon"
                            src="../assets/imgs/icons/bar.png" item-start> Bar</div>
                    <div *ngIf="sucursal.tipo == 'restaurante'"><img *ngIf="sucursal.tipo == 'restaurante' "
                            class="icon" src="../assets/imgs/icons/restaurante.png" item-start> Restaurante</div>
                </div>
            </ion-col>
        </ion-card> -->
    </div>

    <!--Inician las pruebas-->
    <div padding>
        <ion-segment [(ngModel)]="Sucursal" mode="md">
            <ion-segment-button value="reservar" aria-pressed="true">
                Reservar
            </ion-segment-button>
            <ion-segment-button value="informacion">
                Información
            </ion-segment-button>
            <ion-segment-button value="croquis">
                Croquis
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="Sucursal">
        <ion-list *ngSwitchCase="'reservar'">

            <!-- <h4 text-center class="blanco_2"> Realiza tu Reservación</h4> -->

            <form [formGroup]="myForm" novalidate>
                <ion-list>
                    <div *ngIf="evento != null">

                        <br> <br>
                        <ion-item text-center no-lines>
                            <label class="selecciona"> RESERVACIÓN PARA: {{data.titulo}}</label>
                        </ion-item>

                        <br><br>
                        <div align="end">
                            <p align="end" class="senala2">SEÑALA LA CANTIDAD DE PERSONAS</p>
                        </div>

                        <!-- <ion-item no-lines>
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-6>
                                        Reservación para:
                                    </ion-col>
                                    <ion-col col-6>
                                        <div text-rigth class="titulo">
                                            {{data.titulo}}
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item> -->
                    </div>
                    <div *ngIf="evento == null">

                        <br> <br>
                        <ion-item text-center no-lines>
                            <label class="selecciona"> RESERVACIÓN PARA: {{sucursal.displayName}}</label>
                        </ion-item>

                        <br><br>
                        <div align="end">
                            <p align="end" class="senala2">SEÑALA LA CANTIDAD DE PERSONAS</p>
                        </div>

                        <!-- <ion-item no-lines>
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-6>
                                        Reservación para:
                                    </ion-col>
                                    <ion-col col-6>
                                        <div text-rigth class="titulo">
                                            {{data.titulo}}
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item> -->
                    </div>
                    <ion-item no-lines>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <div text-center>
                                        <img [src]="sucursal.photoURL" id="people">
                                    </div>
                                </ion-col>
                                <ion-col col-2>
                                    <br>
                                    <div text-right>
                                        <!-- <img src="assets/imgs/icons/-.png" id="mas_menos" (click)="decrement()"> -->
                                        <img src="assets/imgs/icons/menos_2.png" id="mas_menos" (click)="decrement()">
                                    </div>
                                </ion-col>
                                <ion-col col-2 id="caja">
                                    <ion-row>
                                        <div align="center">
                                            <img src="assets/imgs/icons/grupo.png"
                                                style="width: 50%;margin-left: 20%;position: absolute;">
                                        </div>
                                    </ion-row>
                                    <div class="caja" text-center>
                                        <span>{{people}}</span>
                                    </div>
                                </ion-col>
                                <ion-col col-2>
                                    <br>
                                    <div text-rigth>
                                        <!-- <img src="assets/imgs/icons/+.png" id="mas_menos" (click)="increment()"> -->
                                        <img src="assets/imgs/icons/mas_2.png" id="mas_menos" (click)="increment()">
                                    </div>
                                </ion-col>
                            </ion-row>
                            <ion-row class="ajustar">
                                <ion-col col-6>
                                </ion-col>
                                <ion-col col-2>
                                    <br>
                                    <div align="right">
                                        <p align="right" class="senala">AJUSTA TU HORA DE RESERVACIÓN</p>
                                    </div>
                                </ion-col>
                                <ion-col col-4>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>

                    <br>
                    <ion-row class="reloj">
                        <ion-col col-6>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item no-lines>
                                <ion-label>
                                    <div>
                                        <ion-icon name="md-alarm" class="ion-icon"></ion-icon>
                                    </div>
                                </ion-label>
                                <ion-datetime item-end displayFormat="hh:mm a" minuteValues="0,30"
                                    [(ngModel)]="data.hora" name="hora" formControlName="hora" doneText=Aceptar
                                    cancelText=Cancelar></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row class="calendar">
                        <ion-col col-6>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item no-lines>
                                <ion-label>
                                    <div>
                                        <ion-icon name="md-calendar" class="ion-icon"></ion-icon>
                                    </div>
                                </ion-label>
                                <ion-datetime item-end displayFormat="DD/MM/YYYY" [(ngModel)]="data.fecha" name="fecha"
                                    formControlName="fecha" [disabled]="disabledFecha" min={{fechaActual}}
                                    doneText=Aceptar cancelText=Cancelar>
                                </ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>



                    <!-- <ion-item>
                        <ion-label>
                            <div class="_icons">
                                <img src="assets/imgs/icons/time.png" id="label">
                            </div>
                        </ion-label>
                        <ion-datetime item-end displayFormat="hh:mm a" minuteValues="0,30" [(ngModel)]="data.hora"
                            name="hora" formControlName="hora" doneText=Aceptar cancelText=Cancelar></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <div class="_icons">
                                <img src="assets/imgs/icons/calendario.png" id="label">
                            </div>
                        </ion-label>
                        <ion-datetime item-end displayFormat="DD/MM/YYYY" [(ngModel)]="data.fecha" name="fecha"
                            formControlName="fecha" [disabled]="disabledFecha" min={{fechaActual}} doneText=Aceptar
                            cancelText=Cancelar>
                        </ion-datetime>
                    </ion-item> -->

                    <ion-card>
                        <!--    <div *ngIf="ocultar">-->
                        <div [hidden]="!ocultar">
                            <img class="imagen_croquis" [src]="sucursal.plano">
                            <!--<iframe src="https://angular-33umfp.stackblitz.io" name="ebook-player" id="ebook-player"></iframe>-->
                            <div id="div">
                                <canvas #canvas id="canvas"></canvas>
                            </div>
                        </div>
                    </ion-card>

                    <ion-row>
                        <ion-col col="2"></ion-col>
                        <ion-col>
                            <ion-card>
                                <ion-card-content>
                                    <ion-item>
                                        <ion-label class="zonaTitulo">AJUSTA TU ZONA</ion-label>
                                        <ion-select [(ngModel)]="data.zona" multiple="false" cancelText="Cancelar"
                                            okText="Aceptar" name="zona" formControlName="zona"
                                            (ionChange)=alertConsumo()>
                                            <div>
                                                <ion-option *ngFor="let zona of zonas" [value]="zona.$key">{{
                                                    zona.nombre }}
                                                </ion-option>
                                            </div>
                                        </ion-select>
                                    </ion-item>
                                </ion-card-content>
                            </ion-card>
                        </ion-col>
                        <ion-col col="2"></ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col="2"></ion-col>
                        <ion-col style="background-color: #f1efef;">
                            <ion-item no-lines>
                                <ion-label class="compartir" align="center">COMPARTIR &nbsp;&nbsp; <ion-icon
                                        name="ios-undo" class="iconog"></ion-icon>
                                    <br>
                                    <ion-icon name="md-contact" style="color: 7A7979;"></ion-icon>
                                </ion-label>
                                <ion-select multiple="true" [(ngModel)]="compartir" cancelText="Cancelar"
                                    okText="Aceptar" name="compartir" formControlName="compartir">
                                    <ion-option *ngFor="let tel of telefono4" [value]="tel.tel">
                                        {{ tel.nombre }}
                                        {{ tel.tel }}
                                    </ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col="2"></ion-col>
                    </ion-row>

                    <!-- <ion-item>
                        <ion-label>Zona</ion-label>
                        <ion-select [(ngModel)]="data.zona" multiple="false" cancelText="Cancelar" okText="Aceptar"
                            name="zona" formControlName="zona" (ionChange)=alertConsumo()>
                            <div>
                                <ion-option *ngFor="let zona of zonas" [value]="zona.$key">{{ zona.nombre }}
                                </ion-option>
                            </div>
                        </ion-select>
                    </ion-item> -->
                    <!-- <ion-item>
                        <ion-label>Compartir cuenta</ion-label>

                    </ion-item> -->
                </ion-list>
            </form>
        </ion-list>

        <ion-list *ngSwitchCase="'informacion'">
            <br>
            <ion-row>
                <ion-col col-1></ion-col>
                <ion-col>
                    <ion-card>
                        <img [src]="sucursal.photoURL" />
                        <div class="card-subtitle">
                            <!-- <img src="./assets/content/esquinal.png" style="width: 20%;margin-top: -70px;margin-left: -6px;" class="esquinal" alt=""> -->
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>

            <ion-row style="margin-top: -30px;">
                <ion-col col-1></ion-col>
                <ion-col>
                    <p class="tipoletras">DESCRIPCIÓN:</p>
                    <p text-wrap class="tipocontenido">{{sucursal.descripcion}}</p>
                </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-4>
                    <p class="tipoletras" text-center>TIPO</p>
                    <p class="tipocontenido" text-center><img src="./assets/content/group.png" alt=""> &nbsp;&nbsp;
                        {{sucursal.tipo}}</p>
                </ion-col>
                <ion-col col-2></ion-col>
                <ion-col col-6>
                    <p class="tipoletras" text-center>HORARIO</p>
                    <p class="tipocontenido" text-center><img src="./assets/content/group.png" alt=""> &nbsp;&nbsp;
                        {{sucursal.horas}}</p>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-1></ion-col>
                <ion-col>
                    <ion-card>
                        <img src="./assets/content/egor.png" alt="">
                    </ion-card>
                </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>

            <ion-row style="margin-top: -30px;">
                <ion-col col-1></ion-col>
                <ion-col>
                    <p class="tipoletras">ESTABLECIMIENTO:</p>
                    <p text-wrap class="tipocontenido">{{sucursal.estacionamiento}}</p>
                </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>

            <ion-row style="margin-top: -30px;">
                <ion-col col-1></ion-col>
                <ion-col>
                    <p class="tipoletras">CÓDIGO DE ETIQUETA:</p>
                    <p text-wrap class="tipocontenido">{{sucursal.codigoEtiqueta}}</p>
                </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <!-- 
            <ion-list class="card_atras">
                <ion-item>
                    <ion-label>Descripción:</ion-label>
                    <ion-label text-wrap>{{sucursal.descripcion}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Tipo:</ion-label>
                    <ion-label>{{sucursal.tipo}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Horario:</ion-label>
                    <ion-label>{{sucursal.horas}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Estacionamiento:</ion-label>
                    <ion-label text-wrap>{{sucursal.estacionamiento}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Código de Etiqueta:</ion-label>
                    <ion-label text-wrap>{{sucursal.codigoEtiqueta}}</ion-label>
                </ion-item>

            </ion-list> -->


            <!-- <agm-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map> -->
        </ion-list>

        <ion-list *ngSwitchCase="'croquis'">
            <br><br><br>
            <div class="card_atras_2">
                <div class="zoomX">
                    <zoom-area *ngFor="let img of img2; let i = index">
                        <!-- <img  src="https://firebasestorage.googleapis.com/v0/b/guestreservation-8b24b.appspot.com/o/croquis%2FZfIHbD67hsrpsKuWAS6g?alt=media&token=312d729d-9fb6-48d9-b7b9-8e3b7a263b9c" /> -->
                        <img src='{{ img.imagenes }}' />
                    </zoom-area>
                </div>
            </div>
        </ion-list>
    </div>
</ion-content>

<ion-footer no-border>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <div text-center>
                    <button ion-button round block round color="dark" (click)="(goBack(idReservacion))">Atras</button>
                </div>
            </ion-col>
            <ion-col col-6>
                <div text-center>
                    <div *ngIf="idReservacion == null">
                        <button ion-button block round color="dark" (click)="reservacionAdd()"
                            [disabled]="!myForm.valid || people == 0">Continuar</button>
                    </div>
                    <div *ngIf="idReservacion != null">
                        <button ion-button block round color="dark"
                            (click)="reservacionUpdate(idReservacion)">Continuar</button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>