page-mis-reservaciones {

  //Nuevo
  .toolbar-background {
    background-image: url('../assets/content/head.png')!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .imgMenu{
    width: 40px;
    margin-top: 15px;
  }

  //Nuevo
  .colorIcon31 {
      zoom: 1;
      color: #000;
      font-size: inherit;
      margin-top: 10px;
  }

  .borde {
      margin-top: 0em;
  }

  .lugar {
    color: #FD9530;
    font-size: medium;
    text-transform: uppercase;
  }

  .detalle {
    color: #cecece;
    margin-top: -8px;
    text-transform: uppercase;
  }



  ion-content{
  // background-image: url('../assets/imgs/fondo_r3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  border: none;
}
.icon{
  height: 25px;
  width: 25px;
}
  // ion-icon{
  //   color: #e49602;
  // }
  .icon_img{
    width: 30px;
    height: 30px;
    margin-left: 25%;
    margin-top: 15%;
  }

  .card_atras{
    // background: -moz-linear-gradient(top, rgb(255, 167, 3) 0%, rgba(68,71,75,0.05) 2%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgb(255, 167, 3) 0%,rgba(68,71,75,0.05) 2%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, rgb(228, 150, 2) 0%,rgba(68,71,75,0.05) 2%,rgba(68,71,75,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }

  .blanco_1{
    font-size: 17px;
     resize: none;
     color: #706F6F;
     text-transform: uppercase;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .blanco_2{
    font-size: 17px;
     resize: none;
     color: #706F6F;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .texto_compartir{
    font-size: 14px;
     resize: none;
     color: #706F6F;
  }
  .card_title{
    font-size: 15px;
     resize: none;
     color: #000;
     font: bold;
     font-weight: 900;

     background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(68,71,75,0.05) 2%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(68,71,75,0.05) 2%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(68,71,75,0.05) 2%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }
  .negro{
    background: #fff;
    color: #cecece;
    font-size: 16px;
  }
  a{
    color: #eccc68;
  }
  .borde{
    margin-top: 0em;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #e49602;
  }
  .centradoB{
  text-align: center;
  }
  .icono {
      margin-top: 15%;
  }
  .card-md {
    margin: 1px 0px;
  }
  .colorIcon3 {
      color: #e49602;
      margin-top: 40%;
  }
  .texto-alineado{
    margin-left:-38%;
    margin-top: -1%;
  }
  .esquina{
    background-color: black;
  }
  .ima{
    height: 28px;
    width: 28px;
    background-color: black;
    margin-left: 150%;
    margin-top: 36%;
  }

  .colornaranja {
    background-color: #FD9530;
    font-size: 13px;
    text-transform: uppercase;
  }

  .botonnaranja {
    background-color: #FD9530;
    height: 35px;
    border-radius: 15px;
    text-transform: uppercase;
  }

  .imgbadge {
    background-color: #fff;
  }
}
