<ion-header>
  <ion-navbar class="borde" hideBackButton >
    <ion-row>
      <ion-col col-1>
        <ion-icon name="ios-arrow-back-outline" (click)="behind()" style="color:white"></ion-icon>
               </ion-col>
      <ion-col>
        <!-- <button ion-button menuToggle>
          <img src="./assets/imgs/Group4.png" alt="" class="imgMenu">
        </button> -->
        <img src="./assets/icon/atras.png"(click)="goBack()" class="imgBack" alt="">
      </ion-col>
      <ion-col align="center">
        <img src="./assets/imgs/Logoblanco.png" (click)="goInicio()" style="width: 60%;" alt="">
      </ion-col>
      <ion-col>
        <!-- <div align='end'>
          <div *ngIf="miUser.provider == 'facebook'">
            <img src="{{miUser.photoURL}}?type=large&width=720&height=720" style="width:40%;border-radius:50%;">
          </div>
          <div *ngIf="miUser.provider == 'google'">
            <img src="{{miUser.photoURL}}?type=large&width=720&height=720" style="width:85%;border-radius:50%;">
          </div>
        </div> -->
        <div align='end'>
          <div *ngIf="miUser.provider == 'facebook'">
            <div *ngIf="miUser.status_foto == 0">
              <img src="{{miUser.photoURL}}"
                style="width:40%;border-radius:50%;">
            </div>
            <div *ngIf="miUser.status_foto == 1">
              <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius:50%;">
          </div>
          </div>
          <div *ngIf="miUser.provider == 'google'">
            <div *ngIf="miUser.status_foto == 0">
              <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                style="width:85%;border-radius:50%;">
            </div>
            <div *ngIf="miUser.status_foto == 1">
              <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius: 50%;">
          </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <br>
  <br>
  <label for="" style="margin-left:20px; margin-top:10px;color:#FD9530"> <b> REGISTRAR TARJETA</b></label>
  <br>
  <span style="margin-left:20px;position:absolute;margin-top:-10px">________________________________</span>
  <br>
  <!-- <span style="margin-left:20px;opacity:.3;position:absolute;margin-top:-8px"> <font size="1">ESTAS SE ENCUENTRAN <b  style="color:#FD9530"> ACTIVAS</b></font> </span> -->

  <br> <br>

  <label for="" style="margin-left:20px; margin-top:10px;color:#FD9530"> <b> STATUS: ACTIVA</b> <img
      src="./assets/imgs/icons/Ellipse 47.png" alt=""></label>
  <br>
  <br>

  <form [formGroup]="myForm" novalidate class="">
    <ion-list>
      <br> <br>
      <ion-item>
        <ion-label class="" style="color:#706F6F">Número <p class="blanco_2">*16 dígitos</p>
        </ion-label>
        <ion-input type="tel" style="opacity:.7;color:black" [(ngModel)]="numTarjeta" name="numTarjeta"
          formControlName="numTarjeta" minlength="16" maxlength="16"></ion-input>
        <b style="margin-top:-20px;position:absolute">_____________________________________________</b>
      </ion-item>
      <br>
      <ion-item style="">
        <ion-label class="" style="color:#706F6F">Mes expiración</ion-label>
        <ion-select style="color:black" [(ngModel)]="mesExp" multiple="false" cancelText="Cancelar" okText="Aceptar"
          name="mesExp" formControlName="mesExp">
          <div>
            <ion-option value="1">Enero</ion-option>
            <ion-option value="2">Febrero</ion-option>
            <ion-option value="3">Marzo</ion-option>
            <ion-option value="4">Abril</ion-option>
            <ion-option value="5">Mayo</ion-option>
            <ion-option value="6">Junio</ion-option>
            <ion-option value="7">Julio</ion-option>
            <ion-option value="8">Agosto</ion-option>
            <ion-option value="9">Septiembre</ion-option>
            <ion-option value="10">Octubre</ion-option>
            <ion-option value="11">Noviembre</ion-option>
            <ion-option value="12">Diciembre</ion-option>
          </div>
        </ion-select>
        <!--<ion-datetime displayFormat="M" doneText=Aceptar cancelText=Cancelar [(ngModel)]="mesExp" name="mesExp" formControlName="mesExp"></ion-datetime>-->
        <!--<ion-input type="tel" [(ngModel)]="mesExp" name="mesExp" formControlName="mesExp" maxlength="2"></ion-input>-->
        <!-- <b style="margin-top:-20px;position:absolute">_____________________________________________</b> -->

      </ion-item>
      <br>
      <ion-item>
        <ion-label class="" style="color:#706F6F">Año expiración</ion-label>
        <ion-datetime style="color:black" displayFormat="YYYY" min='{{ fechaActualanio }}' max='2080' doneText=Aceptar
          cancelText=Cancelar [(ngModel)]="anioExp" name="anioExp" formControlName="anioExp"></ion-datetime>
      </ion-item>
      <br>
      <ion-item>
        <ion-label class="" style="color:#706F6F">CVC<p class="blanco_2">*3 dígitos</p>
        </ion-label>
        <ion-input style="color:black" type="tel" [(ngModel)]="cvc" name="cvc" formControlName="cvc" minlength="3"
          maxlength="3"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <!-- <ion-footer no-border>
      <ion-toolbar>
          <ion-grid>
              <ion-row>
                <ion-col col-6>
                </ion-col>
                <ion-col col-6> -->
  <div text-center>
    <button ion-button round style="background-color:#FD9530" (click)="tarjetaAdd()"
      [disabled]="!myForm.valid">Registrar</button>
  </div>
  <!-- </ion-col>
              </ion-row>
          </ion-grid>
      </ion-toolbar>
  </ion-footer> -->



  <!-- <form [formGroup]="myForm" novalidate class="">
    <ion-list>
      <ion-item>
        <ion-label class="blanco_1">Número <p class="blanco_2">*16 dígitos</p>
        </ion-label>
        <ion-input type="tel" [(ngModel)]="numTarjeta" name="numTarjeta" formControlName="numTarjeta" minlength="16"
          maxlength="16"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label class="blanco_1">Mes expiración</ion-label>
        <ion-select [(ngModel)]="mesExp" multiple="false" cancelText="Cancelar" okText="Aceptar" name="mesExp"
          formControlName="mesExp">
          <div>
            <ion-option value="1">Enero</ion-option>
            <ion-option value="2">Febrero</ion-option>
            <ion-option value="3">Marzo</ion-option>
            <ion-option value="4">Abril</ion-option>
            <ion-option value="5">Mayo</ion-option>
            <ion-option value="6">Junio</ion-option>
            <ion-option value="7">Julio</ion-option>
            <ion-option value="8">Agosto</ion-option>
            <ion-option value="9">Septiembre</ion-option>
            <ion-option value="10">Octubre</ion-option>
            <ion-option value="11">Noviembre</ion-option>
            <ion-option value="12">Diciembre</ion-option>
          </div>
        </ion-select>
        !--<ion-datetime displayFormat="M" doneText=Aceptar cancelText=Cancelar [(ngModel)]="mesExp" name="mesExp" formControlName="mesExp"></ion-datetime>--
        !--<ion-input type="tel" [(ngModel)]="mesExp" name="mesExp" formControlName="mesExp" maxlength="2"></ion-input>--
      </ion-item>
      <br>
      <ion-item>
        <ion-label class="blanco_1">Año expiración</ion-label>
        <ion-datetime displayFormat="YYYY" min='{{ fechaActualanio }}' max='2080' doneText=Aceptar cancelText=Cancelar
          [(ngModel)]="anioExp" name="anioExp" formControlName="anioExp"></ion-datetime>
      </ion-item>
      <br>
      <ion-item>
        <ion-label class="blanco_1">CVC<p class="blanco_2">*3 dígitos</p>
        </ion-label>
        <ion-input type="tel" [(ngModel)]="cvc" name="cvc" formControlName="cvc" minlength="3" maxlength="3">
        </ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-footer no-border>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
          </ion-col>
          <ion-col col-6>
            <div text-center>
              <button ion-button block round color="dark" (click)="tarjetaAdd()"
                [disabled]="!myForm.valid">Registrar</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer> -->
</ion-content>