page-modal-tarjetas {
  ion-content{
  // background-image: url('../assets/imgs/fondo_r3.png');
  // background-repeat: no-repeat;
  // background-size: cover;
    //background-position: center;
  width: 100%;
  position: relative;
  border: none;
  }
  .borde {
    margin-top: 0em;
}


.imgMenu{
    width: 40px;
    margin-top: 15px;
  }
  .toolbar-background {
    background-image: url('../assets/content/head.png')!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
  .icon{
  height: 25px;
  width: 25px;
  }
  .colorIcon {
    color: #e49602;
    margin-top: 10%;
  }
  .derechaBoton{
    text-align: right;
  }

  ion-icon{
    color: #e49602;
  }
  .icon_img{
    width: 30px;
    height: 30px;
    margin-left: 50%;
  }
  // .card_atras{
  //   background: -moz-linear-gradient(top, rgb(228, 150, 2) 0%, rgba(68,71,75,0.05) 2%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  //   background: -webkit-linear-gradient(top, rgb(228, 150, 2) 0%,rgba(68,71,75,0.05) 2%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  //   background: linear-gradient(to bottom, rgb(228, 150, 2) 0%,rgba(68,71,75,0.05) 2%,rgba(68,71,75,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  // }

  .blanco_1{
    font-size: 20px;
     resize: none;
     color: #000;
  }
  .blanco_2{
    font-size: 15px;
     resize: none;
     color: #000;
  }
  .card_title{
    font-size: 15px;
     resize: none;
     color: #000;
     font: bold;
     font-weight: 900;

    //  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(68,71,75,0.05) 2%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    //  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(68,71,75,0.05) 2%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    //  background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(68,71,75,0.05) 2%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }
  .negro{
    background: #2f3542;
    color: #fff;
  }
  a{
    color: #eccc68;
  }
  .borde{
    margin-top: 0em;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #e49602;
  }
  .esquina{
    background-color: black;
  }
  .ima{
    height: 28px;
    width: 28px;
    background-color: black;
    margin-left: 220%;
    margin-top: 36%;
  }
  .texto-alineado{
    margin-left:-70%;
    margin-top: -1%;
  }
  .colorIcon3 {
      color: #e49602;
      margin-top: 40%;
  }
  .centradoB{
  text-align: center;
  }
  ._footer {
      background-color: #ffffff;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10%;
      color: rgb(15, 15, 15);
  }
}
